<ion-view view-title="Incomes" hide-back-button="true">
	<ion-nav-buttons side="secondary">
      <a class="button" ui-sref="app.income">
        New
      </a>
    </ion-nav-buttons>
  <ion-content>
	   
	  <div class="card" ng-repeat="e in incomes" >
		  <div class="item item-divider">Category - {{e.category}}</div>
		  <div class="item item-text-wrap">Reason - {{e.title}}</div>
		  <div class="item item-text-wrap">Amount - &#163;{{e.amount}}</div>
		  <div class="item item-text-wrap">Date - {{e.date | date}}</div>
	  </div>

    </ion-list>
  </ion-content>
</ion-view>
