<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/login"><i class="icon ion-unlocked"></i> Login</a>
      <!-- <a class="tab-item" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a> -->
    </div>
 </div>

<ion-view view-title="Sign In" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
			<div class="app-logo"><img src="img/expenses.png"></div> 
			
			 <img src="img/logoex.png" style="margin-left: 40%; margin-top: 30%" ng-click="fingerprint()" >

			<div class="loginButton"><h5 style="color: white; margin-left: 20%">Click on the Fingerprint to Login</h5> </div>
	  </div>
  </div>

	

  </ion-content>
</ion-view>
