<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <!-- <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a> -->
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo"><img src="img/expenses.png"></div>
			
			<div class="list list-inset removePM" style="margin-top: 10%">
			  <label class="item item-input"><input type="text" placeholder="Full Name"> </label>
			  <label class="item item-input"><input type="text" placeholder="Email Address"> </label>
			</div>

			<img src="img/logoex.png" style="margin-left: 40%; margin-top: 20%" ng-click="fingerprint()" >
			<div class="loginButton"><h5 style="color: white; margin-left: 30%">Click on the Fingerprint</h5> </div>

			<div class="loginButton"><button class="button ion-person button-block button-balanced"> Register </button>  </div>
	  </div>
  </div>


  </ion-content>
</ion-view>
